__pycache__/battleFunctions.cpython-313.pyc
poetry.lock
*.pyc
*.bin
*.gltf
*.blend*
*.zip
*.stl
screenshots/*
models/**/*.png
models/**/*.JPG
models/**/*.txt
models/Warmaster Goblin Wolf Riders - 6803191/images/Img_5304.jpg
*.xcf
*.tif